.font1 {
  font-family: "Inter";
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.font2 {
  font-family: "Raleway";
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* Text */
.text-primary {
  color: #4e47ff;
}
/* Button */
.btn-primary {
  background-color: #4e47ff;
  color: #ffffff;
  padding: 12px 36px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

/* Header */
header {
  background-image: url(Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  background-position: center;
}

/* Navigation */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 150px;
  padding: 50px 0px;
}
.nav-title {
  font-size: 34px;
  font-weight: 800;
}

/* Banner */
.banner {
  padding: 158px 268px 152px 268px;
  /* align-content: center; */
  text-align: center;
}
.btn-stay {
  margin-top: 0px;
  /* margin-bottom: ; */
}
.banner-contant {
  font-size: 65px;
  font-weight: bold;
  text-align: center;
  color: #252432;
}
.banner-contant p {
  margin-top: 0;
  margin-bottom: 37px;
}
/* Body */
main {
  background-color: #f5f8ff;
}

/* body action section */
.action {
  display: flex;
  /* margin-top: 116px; */
  padding: 116px 159px 116px 141px;
  /* gap: 220; */
  justify-content: space-around;
  align-items: center;
}
.action-title {
  font-size: 42px;
  font-weight: bold;
  color: #252432;
}
.column1 p {
  color: #252432;
  opacity: 0.5;
  font-size: 24px;
}
.column1 {
  text-align: left;
  margin: 62.5px 220px 62.5px 0px;
}
.column2 {
}
.column2 img {
  border-radius: 48px;
}
/* productive-users-section */
.productive-users-section {
  background-color: rgba(78, 71, 255, 0.1);
  margin: 116px 159px 137px 141px;
  padding: 50px 142px;
  border-radius: 24px;
}
.mbox-title {
  font-size: 38px;
  font-weight: bold;
  color: #252432;
  text-align: center;
  margin-bottom: 40px;
}
.mbox {
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
  text-align: center;
}
.p-bold {
  color: #4e47ff;
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 0px;
}
.p-des {
  color: rgb(0, 0, 0, 0.5);
  opacity: 0.5;
  font-size: 20px;
}

/* Form */
.get-in-touch {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-direction: row; */
  margin: 93px 150px 0px 150px;
  padding: 71px 0px;
}
.touch-title {
  font-size: 97px;
  font-weight: bold;
  text-align: left;
}
.formm {
  /* text-align: right; */
  height: 490px;
  width: 497px;
  margin: 71px 0px 71px 0px;
}
.formm input {
  margin-bottom: 19px;
  margin-top: 10px;
  width: 497px;
  height: 70px;
  border: none;
  border-radius: 10px;
  padding: 0px 30px;
  /* padding: 25px  ; */
}
.formm textarea {
  margin-bottom: 19px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  width: 497px;
  height: 135px;
  padding: 20px 30px;
}
.formm button {
  margin-bottom: 19px;
}
form {
  display: flex;
  flex-direction: column;
}
.formm input,.formm textarea {
  box-sizing: border-box;
}
/* footer section  */
footer{
  background-color: #ffffff;
  /* padding: 104px 455px; */
  align-items: center;
  text-align: center;
}
.footer-div{
  margin: 104px 455px;
}
.logo{
  font-size: 100px;
  font-weight: 800;
}
.footer-des{
  color: #8987A1;
  font-size: 16px;
}
.connect-link{
  display: flex;
  justify-content: center;
  gap: 48px;
}
.connect-link a{
  text-decoration: none;
  color: #8987A1;
  font-size: 16px;
}